{% extends "base.html" %}
{% block content %}

<h3>Add Diet Entry</h3>

<form method="POST">

    <div class="mb-3">
        <label>Meal Type</label>
        <select name="meal_type" class="form-control">
            <option>Breakfast</option>
            <option>Lunch</option>
            <option>Dinner</option>
        </select>
    </div>

    <div class="mb-3">
        <label>Description</label>
        <textarea name="description" class="form-control" required></textarea>
    </div>

    <button class="btn btn-success">Submit</button>

</form>

{% endblock %}
